/.Friend.java._trace
/.FriendCircle.java._trace
/.Queries.java._trace
/.ComplexQuery.java._trace
/.CounterPattern.java._trace
/.Example_queries.java._trace
/.FindNotComplex.java._trace
/.Fr1.java._trace
/.Fr2.java._trace
/.Fr3.java._trace
/.NegFind.java._trace
/.TestBinaryReflexiveTransitiveClosure.java._trace
/.TestBinaryTransitiveClosure.java._trace
/.TestEquality.java._trace
/.TestFind.java._trace
/.TestInequality.java._trace
/.TestNegFind.java._trace
/.TestRelationConstraint.java._trace
/.TestTypeConstraint.java._trace
/.Test_queries.java._trace
/.BinaryReflexiveTransitiveClosureTest.java._trace
/.BinaryTransitiveClosureTest.java._trace
/.EqualityTest.java._trace
/.FindTestTest.java._trace
/.InequalityTest.java._trace
/.NegFindTest.java._trace
/.RelationConstraintTest.java._trace
/.TypeConstraintTest.java._trace
/.FindTest.java._trace
